<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login - IPTV</title>

    <link rel="shortcut icon" href="/files/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/files/styles/login.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="POST">
                <input name="username" type="text" placeholder="username" required/>
                <input name="password" type="password" placeholder="password" required/>
                <button>login</button>
                {% if fail %}
                <p class="message">Wrong Login or password!</p>
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>