<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Channels - IPTV</title>

    <link rel="shortcut icon" href="/files/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/files/table/styles.css">
</head>
<body>
    <a href="/database">Go back</a>
    <br/>
    <div class="container">
        <div class="table">
            <div class="table-header">
                {% for column in columns %}
                    <div class="header__item"><a class="filter__link">{{ column['name'] }}</a></div>
                {% endfor %}
            </div>
            <div class="table-content">
                {% for row in data %}
                    <div class="table-row">
                        {% for column in columns %}
                            <div class="table-data">{{ row[column['index']] }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>