.success {
    background-color: #32CD32;
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
    font-weight: bold;
    border-radius: 5px;
    width: 300px;
}

.failed {
    background-color: #B22222;
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
    font-weight: bold;
    border-radius: 5px;
    width: 300px;
}

select {
    width: 320px;
    height: 600px;
}

input {
    width: 320px;
}

